<title>WORSICA | Disclaimer</title>
{% extends "base_banner.html" %}

{% block content2 %}

{% load staticfiles %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h3>Disclaimer</h3>
			<b> Before using Worsica, you must first read this disclaimer and agree.</b>
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row" >
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 class="h3-smaller">1. Ownership rights </h3>
			<p class="sml">
			The contents of this site are owned by Laboratório Nacional de Engenharia Civil, I.P., being here provided only for scientific purposes. The user is allowed to copy, import or use freely information or symbols provided in this site for personal or public use, except if he/she has commercial or unlawful purposes. When copying, importing or using these information or symbols, the user should always refer to the source of information (Laboratório Nacional de Engenharia Civil, I.P.).
			</p>
			<h3 class="h3-smaller">2. Responsibility Waving</h3>
			<p class="sml">
			LNEC provides the WORSICA service, exclusively developed for scientific and educational purposes, not being responsible for the improper use of the data, nor for the consequences that may result, even if caused by any inaccuracies in the results. Despite the permanent effort developed by LNEC and its partners to ensure the quality of the results, these may not be complete or up-to-date. LNEC cannot guarantee that content, software, products and services of this system are free from technical errors or failures, and cannot guarantee that interruptions or disruptions of the service do not occur due to such problems. LNEC declines all responsibility for any damages or problems that may arise following the use of this site or any other external services or Web sites attached to it.
			</p>
			<h3 class="h3-smaller">3. Prohibition</h3>
			<p class="sml">
			The information contained in this site can not be used for commercial or advertising purposes, except with written authorization from Laboratório Nacional de Engenharia Civil, I.P.
			</p>
			<h3 class="h3-smaller">4. Acknowledgement</h3>
			<p class="sml">
			The use of the data made available on this site for purposes of publication should reference duly the respective origin and authorship (Laboratório Nacional de Engenharia Civil, I.P.).
			</p>
			<h3 class="h3-smaller">5. Modifications, updates and site suspension</h3>
			<p class="sml">
			LNEC reserves the right, absolute and not subject to justification, of the suspension, change, add or remove part of the content from the site at any time and restrict the use and accessibility of its site and service.
			</p>
			<h3 class="h3-smaller">6. Acceptance</h3>
			<p class="sml">
			By accessing the information provided here, user is automatically accepting these terms.
			</p>
			<h3 class="h3-smaller">7. Protection of Personal Data</h3>
			<p class="sml">
			LNEC is committed to protecting the privacy of the personal data of WORSICA service subscribers. You may at any time request access, changes or cancellation of your subscription and removal of your data, simply by contacting us through the following email worsica@lnec.pt.
			</p>
			<h3 class="h3-smaller">8. Confidentiality</h3>
			<p>
			LNEC undertakes not to use data to which it has access for its benefit and will never disclose it to third parties without the consent of the rightful owners. Possible access to data by service administrators may occur, but only for the purposes of user support, quality control and continuous improvement of the WORSICA service.
			</p>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<a href='/portal/disclaimer/accept' class='btn btn-lg btn-success'>I agree</a>
		</div>
		<div class="col-md-2">
			<a href='/accounts/logout' class='btn btn-lg'>Go back</a>
		</div>
		<div class="col-md-4" ></div>
	</div>
	<br>
{% endblock %}