{% load staticfiles %}
<style>
	.footer .navbar-fixed-bottom {
		height:20px; 
		background-color: #33363e; 
		border-color:#33363e; 
		max-height:20px;
	}
	.footer .navbar-nav li { 
		color: #ffffff !important; 
	}
</style>

<footer class="footer">
	<div class="navbar navbar-default navbar-fixed-bottom" style='min-height: 30px'>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
		  <ul class="nav navbar-nav" style='margin-top:2px;padding-left:10px; font-size:11px'>
	      	<li>
	      		<img height=25px src='/static/images/european-commission.png'/>
	      		      		
	      	</li>
	      </ul>
	      <ul class="nav navbar-nav" style='margin-top:5px;padding-left:10px; font-size:11px'>
	      	<li>
				This portal is part of Project EOSC-Synergy, H2020-INFRAEOSC-2018-3, that has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No. 857647
	      	</li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right" style='margin-top:2px;padding-right:25px; font-size:11px'>
	      	<li>
	      		<img height=25px src='/static/images/eosc-synergy.png'/>	
	      		<img height=25px src='/static/images/incd.png'/>
	      		<img height=25px src='/static/images/logo_lnec.png'/>
	      	</li>
		  </ul>
		</div>
	</div>
</footer>
